/* Reyes, Timothy MIU 1303 */


html {
	font-family: helvetica, arial, serif;

}

div[data-role="page"] {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to( #c7c7c7)) !important; /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(#f1f1f1, #c7c7c7) !important; /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(#f1f1f1, #c7c7c7) !important; /* FF3.6 */
    background-image:     -ms-linear-gradient(#f1f1f1, #c7c7c7) !important; /* IE10 */
    background-image:      -o-linear-gradient(#f1f1f1, #c7c7c7) !important; /* Opera 11.10+ */
    background-image:         linear-gradient(#f1f1f1, #c7c7c7) !important;
	
}

div[data-role="header"] {
	background:#2f2f2f;
	
}

a[class="ui-link-inherit"] {
	background-image: -webkit-linear-gradient(#ffffff 0%, #ffffff 100%);
}

li {
	margin: 10px 15px 5px 0px;
	list-style: none;
	display: block;
}

legend {
	font-weight: bold;
	color: #fff;
	background: #000000;
	padding: 5px;
}


input[type="range"]{
	margin: 0px 10px 0px 10px;
}


/* ID's */

#browseCategories {
	font-weight: bold;
}

#features {
	width: 100%;
}

#link {
	color: #3b95cf;
	font-weight: bold;
	text-decoration: underline;
}

#recordErrorsLink {
	display:none;
	
}

#pCollapsed {
	
	
}

#headerLogo {
	padding: 4px 10px 0 0;
}
/* Classes */


.banner {
	position:absolute;
	top:0px; 
	left:0px;
	height: 3px;
}

.nav {
    border-radius: 4px 4px 4px 4px;
    clear: both;
    display: block;
    float: left;

}

.topRow {
    text-align: center;
    background: #e6e6e6;
	
}

.fieldset {
	background:#c7dbec;
	padding: 0px 15px 0px 0px;
}

label.error {
	display: block;
	color: red;
	margin: 10px 0px;
}

