
html {
	background: #e6e6e6;
	font-family: helvetica, arial, serif;

}

div ul li {
	padding: 0px 0px 0px 10px;
	background: #000aff;
	text-align: left;
}

div table {
	background: -webkit-linear-gradient(#cbcbcb 0%, #ffffff 100%);
	width: 100%;
}


hgroup {
	text-align: center;	
	white-space: nowrap;
	line-height: 1.1em;
	margin: auto;
}

header {
	top: 0px;
	left: 0px;;
	width: 100%;
	text-align: center;
}
h2 {
	color: #2b2b2b;
	font-style: italic;
}

h3 {
	color:#0000ff;
	font-weight: bold;
	margin: 30px auto 0px auto;
}

fieldset {
	background:#c7dbec;
	margin: 30px auto 10px auto;
	width: 320px;
	border: 5px ridge black;
}

li {
	margin: 10px 0px 0px 0px;
	list-style: none;
	display: block;
}

legend {
	font-weight: bold;
	color: #fff;
	background: #000000;
	padding: 5px;
}

input[type="text"]{
	width: 200px;
	padding: 2px;
	margin: 5px;
}

td input[type="text"]{
	width: 100px;
	padding: 2px;
	margin: 7px;
}

input[type="email"]{
	width: 200px;
	padding: 2px;
	margin: 5px;
}

input[type="submit"]{
	width: 150px;
	padding: 10px;
	margin: 25px;
}

input[type="button"]{
	width: 200px;
	height: 25px;
	padding: 10px;
	margin: 25px;
}

input[type="range"]{
	margin: 0px 10px 0px 10px;
}


textarea { /*for comments section */
	width: 250px;
	height: 50px;
	display:block;
}


/* ID's */

#addSupportTicket {
	padding: 25px;
	text-align: center;
	margin: auto;
	font-size: 125%;
}

#featureBackground {
	background-image: url("../img/feature_bg.jpg");
	width: 380px;
	height: 215px;
	background-size: 100%;
	border-radius: 4px 4px 4px 4px;
    box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.75), 0px 5px 6px rgba(0, 0, 0, 0.75);
}

#enterTicket {
	position:absolute;
	top:0px; 
	left:0px;
	width: 100%;
	color: black;
}

#compixImage {
	padding: 7px 0px 0px 15px;
}

#goButton {
	padding: 0px 15px 0px 0px;
}

#browseCategories {
	padding: 0px 0px 15px 0px;
	font-weight: bold;
}

/* Classes */


.banner {
	position:absolute;
	top:0px; 
	left:0px;
	width: 390px;
	height: 3px;
	background-size: 100%;
}

.nav {
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.75), 0px 5px 6px rgba(0, 0, 0, 0.75);
    clear: both;
    display: block;
    float: left;
    width: 380px;
}

.topRow {
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.75), 0px 5px 6px rgba(0, 0, 0, 0.75);
    text-align: center;
    float: left;
    width: 380px;
    background: #e6e6e6;
	
}

.navImg {
	padding: 0px 0px 0px 320px;
}

.navLink {
	padding: 0px 0px 0px 15px;
}

.navMenu {
	background:-webkit-linear-gradient(#ffbb00 0%, #cbcbcb 100%);
	
}

input.hasFocus{border: 2px solid #00a117};

